/* -----global style---- */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    background-color: hsl(229, 57%, 11%);
    color: hsl(243, 100%, 93%);
}

.bold {
    font-weight: 700;
}


/* ### Primary

- Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)

### Neutral

- Pale Blue: hsl(243, 100%, 93%)
- Grayish Blue: hsl(229, 7%, 55%)
- Dark Blue: hsl(228, 56%, 26%)
- Very Dark Blue: hsl(229, 57%, 11%) */


.container {
    margin: 40vh auto;
    max-width: 1000px;
    /* min-width: 1100px; */
}

.flexbox {
    /* margin: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;



}

/* ------ section one ----- */
.section_one {
    background-color: hsl(228, 56%, 26%);
    width: 348px;
    height: 200px;
    border-radius: 9px 100px 9px 9px;
    padding-top: 40px;
    padding-left: 38px;
    padding-right: 132px;
}

.top {
    margin-bottom: 33px;
}


.bottom {
    display: flex;
    justify-content: space-between;


}

.icon {
    height: 48px;
    width: 48px;
    text-align: center;
    background-color: hsl(229, 57%, 11%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ------- section two ------------- */

.section_two {
    padding: 40px;
    height: 154px;
    width: 540px;
    background-color: hsl(228, 56%, 26%);
}

/*  ------- range section --------- */

.range {
    width: 458px;
    height: 20px;
    background: #151D4B;
    border-radius: 143.5px;
    display: flex;
    align-items: center;
}

.range_two {
    width: 340px;
    height: 14px;
    background: linear-gradient(90deg, #FFA399 0%, #FF4D97 100%), #151D4B;
    border-radius: 143.5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 4px;

    
}

.range_circle {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: #FEFFFF;
    margin-right: 2px;
}

/* ---------- end range section ----------- */

.white_box {
    display: inline-block;
    position:relative;
    left: 200px;
    bottom: 70px;
    text-align: center;
    padding: 10px 20px;
    background: #FFFFFF;
    border-radius: 11px;
    color: black;
}


.white_box>.bold {
    font-size: 2rem;
}